// Keyframes för animationer
@use "base" as *;
// Animation som skakar köpsknappen för att ge den extra uppmärksamhet

@keyframes btnRotation {
    from {
        transform: rotate(5deg);
    }

    to {
        transform: rotate(-5deg);
    }
}

// Animation som fadear in färg på :hover element
@keyframes fadeIn {
    from {
        color: $links-dark;
        opacity: 70%;
    }

    to {
        color: $primary;
        opacity: 100%;
    }
}

// Animation som får texterna i gridsen att pulsera smått

@keyframes textSize {
    100% {
        font-size: 2.5em;
    }
}

// Animation som ger submit knappen i formuläret en 360 på klick

@keyframes rotateBtn {
    100% {
        transform: rotate(720deg);
    }
}