// Variabler för _layout.scss filen

// Ljust tema
$bg-light: white;
$text-light: black;
$links-light: black;
$footer-light:#262626;

// Svart tema
$header-dark:black;
$bg-dark: #262626;
$text-dark: white;
$links-dark: white;
$footer-dark: white;
$footer-text-dark: black;

// Färger
$primary: #9c4e2a;
$secondary: #12743c;